@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Varela+Round&display=swap');
.App {
  /* margin-left: 110px; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: dimgray;
}


.yet {
  color: midnightblue;
}
.bought {
  color: tomato;
  text-decoration-line: line-through;
}
h2 {
  font-family: 'Varela Round', sans-serif;
}

/* main */
.main {
  background-color: white;
  margin: 7px auto;
  padding-left: 110px;
  padding-bottom: 50px;
}

/* AllRecipes */
.recipes ul {
  margin: 5px auto 30px;
}
.article {
  list-style: none;
}
.recipe-name {
  font-size: large;
  color: antiquewhite;
  background: palevioletred;
  padding: 2px;
  margin: 2px auto 5px -30px;
}
.recipe-description {
  font-size: small;
}

/* SingleRecipe */
.SingleRecipe {
  font-size: smaller;
}
.SingleRecipe h1 {
  font-size: large;
}
.ingridients dt {
  font-weight: bold;
}
.ingridients dd {
  font-weight: normal;
}
.procedures li {
  list-style: decimal-leading-zero;
}

.button-area {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: large;
  color: antiquewhite;
  position: fixed;
  top: 105px;
  left: 0;
  margin: auto;
  text-align: center;
  width: 100px;
  z-index: 90;
}
.button-area button {
  position: relative;
  margin: auto;
  width: auto;
  color: palevioletred;
  font-weight: bold;
  font-size: small;
  border-radius: 25px;
  border: none;
  font-family: 'Varela Round', sans-serif;
  background: rgba(50, 50, 50, 1);
}


/* logo */
.logo {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: large;
  color: antiquewhite;
  background-color: purple;
  position: fixed;
  top: 0;
  margin: auto;
  text-align: center;
  height: 100px;
  width: 100px;
  z-index: 99;
}
.logo-title {
  position: relative;
  margin: auto;
  top: 75%;
  bottom: 0;
}

/* ShoppingList */
.ShoppingList ul {
  list-style: none;
  margin-left: -10px;
}
.make-list{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
  background: rgba(10, 10, 10, 0.5);
}
.make-list button{
  position: relative;
  width: 200px;
  height: 35px;
  margin: 8px auto;
  color: crimson;
  font-weight: bold;
  font-size: large;
  border-radius: 25px;
  border: slategrey none thin;
  font-family: 'Varela Round', sans-serif;
  background: rgba(255, 255, 255, 1);
}